{% if part == 'header' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <link href="{{ assetpath('css/screen.css') }}" rel="stylesheet" type="text/css" />
        
        <script>var ROOT_PATH = '{{ path() }}';</script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        {{ PluginLoader() }}

        <title>Clockwork Framework</title>
    </head>
    <body>
    
        <div id="wrapper">
{% elseif part == 'footer' %}
        </div>
    
    </body>
</html>
{% endif %}